// global
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: "Gotham 3r", "Gotham A", "Gotham B", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 0 15px;
    line-height: 1.1;
    color: #dc1e34;
}

.responsive {
    display: block;
    width: 100%;
    height: auto;
}