// overwrite for full width shenanigans
body {
    overflow-x: hidden;
}
// SASS x BEM
.leftright {
    $self: &;
    // border: 1px dashed #ccc;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                "right"
                "left";

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 50%);
            grid-template-areas: "left right";

            &--reverse {
                grid-template-areas: "right left";
            }
        }
    }

    &__leftCol {
        grid-area: left;
        display: flex;
        align-items: center;
        padding: 15px;
        font-family: "Gotham 3r", "Gotham A", "Gotham B", Arial, sans-serif;
        font-weight: 300;

        h1, p {
            margin: 5px 0;
            display: block;
        }
    }

    &__rightCol {
        grid-area: right;

        &--full-width {
            @media screen and (min-width: 768px) {
                max-width: 50vw;
                width: 50vw;
                position: relative;
            }
        }
    }

    &__media {
        img,
        iframe {
            object-fit: cover;
        }

        &--crop-short {
            .responsive-iframe {
                padding-top: unset;
            }

            img,
            iframe {
                position: unset;
                height: 250px;

                @media screen and (min-width: 768px) {
                    height: 350px;
                }

                @media screen and (min-width: 992px) {
                    height: 280px;
                }
            }
        }

        &--crop-medium {
            .responsive-iframe {
                padding-top: unset;
            }
            
            img,
            iframe {
                position: unset;
                height: 350px;
            }
        }
    }

    &--rounded {
        border-radius: 7px;
        overflow: hidden;
    }
}