// SASS x BEM
.cs-lr {
    $self: &;
    border: 1px dashed #ccc;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                "right"
                "left";

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "left right";
        }
    }
    &__content {
        &-left {
            grid-area: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;

            h1, p {
                margin: 5px 0;
                display: block;
            }
        }
        &-right {
            grid-area: right;
        }
    }
    &__cta {
        margin-top: 15px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
    & .reverse {
        @media screen and (min-width: 768px) {
            grid-template-areas: "right left";
        }
    }

    &--rounded {
        border-radius: 7px;
        overflow: hidden;
    }
}

// Dev Notes:
// * set variable: $self: &
// * target variable: #{$self}
//      ex).cs-left-right
// * root of style sheet: @at-root #{$self}__grid
//      ex) .cs-left-right__grid (at top level)